# Ignore les fichiers et dossiers générés par Node.js
/node_modules

package-lock.json
/dist

# Ignore les fichiers de configuration locaux
.env

# Ignore les fichiers de sauvegarde de l'éditeur de texte
*.swp

# Ignore les fichiers de sauvegarde de Visual Studio Code
.vscode/
